.wrapper {
  background-image: url('./images/background.png');
  width: calc(100%);
  height: calc(100vh);
  background-size: auto 100%;
  padding: 20px;

  .inner-wrapper {
    border-radius: 10px;
    border: 2px solid #86602c;
    background-color: rgba(antiquewhite, 0.9);
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    .menu {
      flex-grow: 1;
      overflow-y: auto;
    }

    header {
      display: flex;
      align-items: center;
      padding: 10px;
      justify-content: space-between;

      img {
        width: 32px;
        height: 32px;
      }

      .btn-group>.btn:first-child {
        background-color: transparent;
        border: none;
        padding: 0;
      }

      .dropdown-menu {
        background-color: #ffeebf;
      }

      .title {
        font-size: 50px;
        color: black;
        font-weight: bold;
        margin: 0;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      padding: 10px 30px;
      justify-content: space-between;

      img {
        width: 32px;
        height: 32px;
      }

      img.left-arrow {
        transform: rotate(180deg);
      }
    }

    .category-title {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin: 15px 0;
    }

    .product {
      font-size: 22px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 10px;
      margin: 10px 0;

      .ingredients {
        font-size: 20px;
        color: blue;

      }

      p {
        margin: 0;

      }
    }
  }
}